<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" (click)="isCollapsed = true">{{title}}</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse] ="isCollapsed">
    <ul class="navbar-nav">
      <ng-container>
        <li class="nav-item" *ngFor="let link of links">
          <!--   {{ link | json}} -->
          <a class="nav-link" [routerLink]="link.routerLink" (click)="isCollapsed = true">{{link.intitule}}</a>
        </li>
    </ng-container>
    </ul>
  </div>
</nav>
