<div class="container">
    <ng-container *ngFor="let cmd of collection | async">
  <!-- <ng-container *ngFor="let cmd of collection"> -->
  <app-item [item]="cmd"></app-item>
  </ng-container>
</div>


