    <div class="card">
      <div class="card-header">
        <!-- <span *ngIf="state.ALIVRER === item.state" class="state-alivrer">{{item.state}}
        </span>
        <span *ngIf="state.ENCOURS === item.state" class="state-encours">{{item.state}}
        </span>
        <span *ngIf="state.LIVREE === item.state" class="state-livree">{{item.state}}
        </span> -->
        <span [appState]="item.state">{{item.state}} </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">Nom et prenom: {{item.name}}</h5>
        <p class="card-text">Référence: {{item.reference}}</p>
        <button class="btn btn-primary" *ngIf="item.state === state.ALIVRER" (click)="changeState(state.ENCOURS)">{{state.ENCOURS}}</button>
        <button class="btn btn-primary" *ngIf="item.state === state.ENCOURS" (click)="changeState(state.LIVREE)">{{state.LIVREE}}</button>
      </div>
    </div>
