<form (ngSubmit)="process()" class="container form" [formGroup]="form" novalidate>
 <!-- novalidate indique de ne pas utiliser les validateur du navigateur -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text"  class="form-control" placeholder="Nom et prénom"  formControlName="name">
      <!-- {{newItem.name}} -->
      <div class="alert alert-danger" *ngIf="isError('name')">champs invalide</div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Référence ex 1234"  formControlName="reference">
            <!-- {{newItem.reference}} -->
      <div class="alert alert-danger" *ngIf="isError('reference')">champs invalide</div>
    </div>

    <div class="form-group">
        <select class="form-control"  formControlName="state">
          <option *ngFor="let libelle of libelles"  [ngValue]="libelle">{{libelle}}</option>
        </select>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
  </form>
